{% extends 'portfolio/navbar.html' %}
{% block content %}

<h1>Fazii's Portfolio</h1>

<a href="{% url 'blog:all_blogs' %}">Blog</a>

{% load static %}
<img src="{% static 'portfolio/photo2.PNG' %}">
<hr>

<a href="{% static 'portfolio/FaezeShakuri_CV.pdf' %}">Resume</a>
<hr>

{% for project in projects %}

<h2>{{ project.title }}</h2>
<p>{{ project.description }}</p>
<img src="{{ project.image.url }}">

{% if project.url %}
<br>
<a href="{{ project.url }}">Link</a>
{% endif %}

<hr>
{% endfor %}

{% endblock %}